# Python bytecode
__pycache__/
*.py[cod]

# Jupyter checkpoints
*.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# System files
.DS_Store
Thumbs.db

# Kaggle API key (very important to keep secret)
kaggle.json

# Dataset and model outputs
data/
models/
outputs/

# Logs and caches
*.log
*.tmp
.cache/
